* {
  margin: 0;
}

.container-login {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-login form input, button {
  width: 100%;
}
