.exploreFoods {
  align-items: center;
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 1.8cm 0;
}

.exploreFoods > button {
  color: var(--color2);
  cursor: pointer;
  font-family: Open Sans , sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 3px;
  padding: 10px 1px;
  width: 70%;
}
