.container-explore-ingredients {
  align-items: center;
  background-color: var(--color5);
  display: flex;
  font-family: Open Sans , sans-serif;
  height: 100vh;
}

.exploreByIngredients {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.exploreByIngredientsButton {
  background-color: white;
  border: 1px solid var(--color0);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--color0);
  height: 110px;
  margin: 8px;
  padding: 9px;
  width: 100px;
}

.exploreByIngredients p {
  color: var(--color2);
  font-weight: 800;
  margin-top: 5px;
}

.exploreByIngredients img {
  border: 1px solid var(--color0);
  padding: 3px;
  width: 50px;
}
