.header-container {
  background-color: var(--color1);
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.header h3 {
  color: white;
}

.searchIcon {
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
}
