.bottonMenu {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.bottonMenu button {
  background-color: var(--color1);
  border: none;
  height: 55px;
}
