.main-container {
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  z-index: 9999;
}

.container-button-category {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;

}

.container-button-category button {
  background-color: white;
  border: 1px solid var(--color0);
  border-radius: 5px;
  color: var(--color2);
  font-family: Open Sans , sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
  padding: 5px 0;
  width: 12em;
}

.container-button-category button:active {
  box-shadow: 5px 5px 5px var(--color0);
}

.container-card {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  background-color: white;
  border: 1px solid var(--color0);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--color0);
  display: inline-block;
  margin: 10px;
  padding: 9px;
}

.card p {
  color: var(--color2);
  flex: 1;
  font-family: Open Sans , sans-serif;
  font-weight: 800;
  text-align: center;
}

.card img {
  border: 1px solid var(--color0);
  padding: 3px;
  width: 280px;
}

.link-card {
  color: var(--color1);
  text-decoration: none;
}
